{% extends 'base.html' %}

{% if user.is_authenticated %}
{% block heading %}
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">MY Shop</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="{% url 'home' %}">Home</a></li>
			<li><a href="#">Men</a></li>
			<li><a href="#">Women</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><small>{{ user.username }}</small><b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'logout' %}">logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
<div class="alert alert-success hide" id="successs_card">
	
</div>
{% endblock %}

{% block content %}
<div>
	{% for product in products %}
	<div>
		<h4>{{ product.title }}</h4>
		<img src={{product.image.src}} alt="phone" height="100" width="100">
		<a class="btn" onclick="create_order()">order</a>
		<h4>{{ product.body_html }}</h4>
		<select onchange="change_session()" name="select_path" id="select_path">
			{% for variant in product.variants %}
			<option  value={{ variant.id }}>{{ variant.title}}</option>                 
			{% endfor %}
		</select>      
	</div>        
	{% endfor %}

	
	<script>
		var serverId;
		function change_session() {
			serverId=document.getElementById('select_path').value;
		}

		var url = '/order/'

		function create_order() {
			var formatted_url = url+'?variant_id='+serverId
			console.log(serverId)
			$.ajax({
				url: formatted_url,
				type:'GET',
				success: function (data) {
					$("#successs_card").removeClass('hide').text(data.response)
					
				}});

		}

	</script>
</div>
{% endblock %}
{% else %}
<a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
{% endif %}





