{% extends 'base.html' %}


{% block title %}Login{% endblock %}

{% block content %}
<div class="contaner" style="margin-top: 15%; margin-left:35%; margin-right: 35%; background-color: #ffe6e6">
 <form id="login-form" method="post"action="{% url 'django.contrib.auth.views.login' %}" >
   {% csrf_token %}
   <table class="table">
     <tr>
       <td><label for="id_username">Username</label></td>
       <td><input id="id_username" name="username"
        type="text" class="form-control"></td>
      </tr>
      <tr>
       <td><label for="id_password">Password</label></td>
       <td><input id="id_password" name="password"
        type="password" class="form-control"></td>
      </tr>
    </table>
    <input type="submit" value="Login"
    class="btn btn-primary pull-center" style="width: 100%" />
    <input type="hidden" name="next" value="{{ next }}" />
    <br></br>
    <p>don't have account? <a href="{% url 'signup' %}">Signup</a></p>
    {% if form.errors %}
    <p class=" label label-danger">
     Your username and password didn't match.
     Please try again.
   </p>
   {% endif %}
 </form>
</div>
{% endblock content %}

