{% extends 'base.html' %}

{% block content %}

<div class="contaner" style="margin-top: 10%; margin-left:35%; margin-right: 35%; background-color: #ffe6e6">
 <h3 style="text-align: center;">Sign up</h3>
 <form id="signup-form" method="post" style="margin-left: 20px">
   {% csrf_token %}
   <table class="table">
     <tr>
       {% for field in form %}
       <p>
         {{ field.label_tag }}<br>
         {{ field }}
         {% if field.help_text %}
         <small style="color: grey">{{ field.help_text }}</small>
         {% endif %} 
         {% for error in field.errors %}
         <p style="color: red">{{ error }}</p>
         {% endfor %}
       </p>
       {% endfor %}
       <button type="submit">Sign up</button>
     </tr>
   </form>
 </div>
 {% endblock %}